<!doctype html>
<html>
  <head>
    <title>Links for Ben Read</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <meta
      name="description"
      content="Ben Read speaks Welsh, Mandarin and English. Personal links, websites, and social profiles."
    />
    <meta name="author" content="Ben Read" />
    <meta
      name="keywords"
      content="Ben Read, web developer, Welsh, Mandarin, English, deliciousreverie, rhedyn"
    />
    <meta property="og:title" content="Links for Ben Read" />
    <meta
      property="og:description"
      content="Ben Read speaks Welsh, Mandarin and English. Personal links, websites, and social profiles."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/profile-pic.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Links for Ben Read" />
    <meta
      name="twitter:description"
      content="Ben Read speaks Welsh, Mandarin and English. Personal links, websites, and social profiles."
    />
    <meta name="twitter:image" content="/profile-pic.png" />
  </head>
  <body>
    <main>
      <div id="intro">
        <h1>Ben Read</h1>
        <img class="profile-pic" src="/profile-pic.png" alt="Ben Read" />
        <p>
          I speak Welsh, Mandarin and English. Not necessarily in that order.
        </p>
        <p>没要最好只有更好.</p>
        <p>A fo ben, bid bont.</p>
      </div>
      <h2>My Websites</h2>
      <ul>
        <li><a href="https://deliciousreverie.co.uk/">Personal website</a></li>
        <li><a href="https://rhedyn.cymru/">Agency Website</a></li>
      </ul>
      <h2>Social Links</h2>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/benjaminread1980/">LinkedIn</a>
        </li>
        <li><a href="https://github.com/endymion1818/">GitHub</a></li>
        <li>
          <a href="https://www.reddit.com/user/endymion1818-1819/">Reddit</a>
        </li>
      </ul>
      <h2>Other Links</h2>
      <ul>
        <li><a href="/benjamin-read-cv.pdf">Download my CV</a></li>
      </ul>
    </main>
  </body>
</html>
